{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
  <div class="pure-u-11-12 pure-u-md-7-12">
    <div class="post">

      <div class="post-title">
        <p class="footnote">
          <time datetime="{{ .Date }}">
            {{ if .Site.Params.dateformatpretty }}
              {{ .Date.Format .Site.Params.dateformatpretty }}
            {{ else }}
              {{ .Date.Format "01-02-2006" }}
            {{ end }}
          </time>
        {{ $baseurl := .Site.BaseURL }}
        {{ if or .Params.tags .Params.categories .Params.series }}
        |
        {{ end }}
        {{ if isset .Params "tags" }}
        tags: [ {{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}]
        {{ end }}

        {{ if isset .Params "categories" }}
        categories: [ {{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}]
        {{ end }}

        {{ if isset .Params "series" }}
        series: [ {{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}]
        {{ end }}
        </p>
        <h1>{{ if .Draft }}DRAFT: {{end}}{{ .Title }}</h1>
      </div>

      <div class="post-content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
</div>

{{ partial "comments.html" . }}
{{ partial "footer.html" . }}
