<div class="pure-g">
    <div class="pure-u-5-5">
        <script src="https://utteranc.es/client.js"
                repo="ThyrixYang/utterances_comments"
                issue-term="title"
                label="blog_comment"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
    </div>
</div>