<div class="pure-g">
    <div class="pure-u-5-5">
        <br /><br /><br /><br /><br /><br /><br />
    </div>
</div>
<div class="footer pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
  <div class="pure-u-11-12 pure-u-md-7-12">
    <div class="footer-content">
      <div class="pure-menu pure-menu-horizontal">
        <ul>
          {{ if .Site.Author.name }}
          <li class="pure-menu-item" id="foot-name">© {{ .Site.Author.name }}</li>
          {{ end }}

          {{ if .Site.Author.email }}
          <li class="pure-menu-item">
            <a href="mailto:{{ .Site.Author.email }}" class="pure-menu-link">Email</a>
          </li>
          {{ end }}

          {{ if .Site.Author.github }}
          <li class="pure-menu-item">
            <a href="https://github.com/{{ .Site.Author.github }}" class="pure-menu-link">GitHub</a>
          </li>
          {{ end }}

          {{ if .Site.Author.twitter }}
          <li class="pure-menu-item">
            <a href="https://twitter.com/{{ .Site.Author.twitter }}" class="pure-menu-link">Twitter</a>
          </li>
          {{ end }}

          {{ if .Site.Author.medium }}
          <li class="pure-menu-item">
            <a href="https://medium.com/@{{ .Site.Author.medium }}" class="pure-menu-link">Medium</a>
          </li>
          {{ end }}

        </ul>
        <a href="#" class="pure-menu-link pull-right" id="gototop-btn">↑↑</a>
        {{ if .RSSLink }}
        <a href="{{ .RSSLink }}" class="pure-menu-link pull-right">RSS</a>
        {{ end }}
      </div>
      {{ if .Site.Copyright }}
      <p id="foot-copyright">{{ .Site.Copyright | safeHTML }}</p>
      {{ end }}
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
</div>

<script type="text/javascript">
  go();
  window.addEventListener('resize', go);
  function go(){
    var d=document.querySelector(".desktop")
    if(document.documentElement.clientWidth > 768) {
      d.style.display="";
    } else {
      d.style.display="none";
    }
  }
</script>
<script type="text/javascript">
  var a=document.querySelector("#toggle-btn"),b=document.querySelector("#toggle-content");a.addEventListener("click",function(){""==b.style.display?(b.style.display="none",a.innerHTML="☰"):(b.style.display="",a.innerHTML="X")});</script>
<!-- Google analytics -->
{{ if .Site.Author.gaid }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ .Site.Author.gaid }}', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
{{ end }}
</body>
</html>
